<div class="image-section position-relative bg_img">
    <img class="w-100 h-auto" src="/images/bg_img.jpg" alt="Background Image">
    <div class=" text-overlay text-dark w-100">
      <h1 class="display-2 ">Welcome to Our Store</h1>
      <p class="lead mt-3 fw-bold">Discover the best products just for you</p>
    </div>
  </div>
  